@model BTL_LTWeb.Models.TMaGiamGia
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chi Tiết Mã Giảm Giá";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var displayStyle = Model.LoaiGiamGia == 2 ? "block" : "none";
    
}

<div class="ms-2 mx-2">
    <h1>Chi Tiết Mã Giảm Giá</h1>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-controller="GiamGia" asp-action="ChiTietMaGiamGia" asp-route-MaGiamGia="@Model.MaGiamGia" method="post" class="mt-3">
        <input type="hidden" asp-for="MaGiamGia" />

        <div class="form-group row mt-3">
            <label asp-for="Code" class="text-black form-label">Code <span class="text-danger">*</span></label>
            <div class="col-md-12">
                <input asp-for="Code" class="form-control"  />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="LoaiGiamGia" class="text-black form-label">Loại Giảm Giá <span class="text-danger">*</span></label>
            <div class="col-md-12">
                <select asp-for="LoaiGiamGia" class="form-control" id="LoaiGiamGia">
                    <option value="1" >Dùng chung cho tất cả sản phẩm</option>
                    <option value="2" >Dùng cho một sản phẩm duy nhất</option>
                </select>
            </div>
        </div>

        <div class="form-group row mt-3" id="sanPhamSelect" style="display: @displayStyle">
            <label for="MaSp" class="text-black form-label">Chọn Sản Phẩm</label>
            <div class="col-md-12">
                <select class="form-control" name="MaSp">
                    <option value="">Chọn sản phẩm</option>
                    @if (ViewBag.SanPhams != null)
                    {
                        foreach (var sp in ViewBag.SanPhams)
                        {
                            <option value="@sp.MaSp" selected="@(ViewBag.MaSp == sp.MaSp)">@sp.TenSp</option>
                        }
                    }
                    else
                    {
                        <option value="">Không có sản phẩm</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="TiLeGiam" class="text-black form-label">Giá Trị Giảm (%)</label>
            <div class="col-md-12">
                <input asp-for="TiLeGiam" class="form-control" />
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="Mota" class="text-black form-label">Mô tả</label>
            <div class="col-md-12">
                <input asp-for="Mota" class="form-control"/>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="NgayBatDau" class="text-black form-label">Ngày bắt đầu</label>
            <div class="col-md-12">
                <input asp-for="NgayBatDau" class="form-control" type="date" />
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="NgayKetThuc" class="text-black form-label">Ngày kết thúc</label>
            <div class="col-md-12">
                <input asp-for="NgayKetThuc" class="form-control" type="date" />
            </div>
        </div>

        <div class="form-group row mt-3">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
            </div>
        </div>
    </form>
</div>

<div class="col-lg-12 mt-3">
    <a class="btn btn-primary" asp-action="DanhsachMaGiamGia">Trở lại</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#LoaiGiamGia').change(function () {
                if ($(this).val() == "2") {
                    $('#sanPhamSelect').show();
                } else {
                    $('#sanPhamSelect').hide();
                }
            }).trigger('change');
        });
    </script>
}
