@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BTL_LTWeb.Models.TNhanVien>
@{
    ViewData["Title"] = "Danhsachnhanvien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <h1>Danh Sách Nhân viên</h1>
    <p>
        <a class="btn btn-info" asp-action="Themnhanvien">Create New</a>
    </p>
    <form asp-controller="HomeAdmin" asp-action="" method="get" class="site-block-top-search d-flex">
        <input type="text" name="TenKhachHang" class="form-control border-1" placeholder="Search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p></p>
    <div class="alert alert-warning">
        <table class="table table-hover table-responsive d-block">
            <thead>
                <tr class="table-warning">
                    <th>
                        Mã nhân viên
                    </th>
                    <th>
                        Tên Nhân viên
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Chức vụ
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Ghi chú
                    </th>
                    <th>
                        Chức năng
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="alert alert-primary">
                        <td>
                            @Html.DisplayFor(modelItem => item.MaNhanVien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenNhanVien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgaySinh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChucVu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GhiChu)
                        </td>
                        <td>
                            <a asp-action="ThemNhanVien" asp-route-MaNV="@item.MaNhanVien">Edit</a> |
                            <a asp-action="NhanVien" asp-route-id="@item.MaNhanVien">Details</a> |
                            <a asp-action="XoaNhanVien" asp-route-id="@item.MaNhanVien">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager(Model, page => Url.Action("Danhsachnhanvien", new { page = page }),
            new X.PagedList.Mvc.Core.PagedListRenderOptions()
    {
        LiElementClasses = new List<String> { "page-item" },
        PageClasses = new List<String> { "page-link" }
    })
</div>