@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BTL_LTWeb.Models.TDanhMucSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "danhmucsanpham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    var logMessage = TempData["Log"] as string;
    if (!string.IsNullOrEmpty(logMessage))
    {
        <div class="alert alert-success">
            @logMessage
        </div>
    }
}

<h1>Danh mục sản phẩm</h1>

<p>
    <a class="btn btn-info" asp-action="themsanpham">Create New</a>
</p>
<div class="alert alert-warning">

<table class="table table-hover">
    <thead>
        <tr class="table-warning">
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Chất liệu
            </th>
            <th>
                Loại
            </th>
            <th>
                Hãng sản xuất
            </th>
            <th>
                Thời gian bảo hành
            </th>
            <th>
                Giới thiệu sản phẩm
            </th>
            <th>
                Giá lớn nhất
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="alert alert-primary">
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChatLieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiDt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangSx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiThieuSp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaLonNhat)
            </td>
            <td>
                <a asp-action="suasanpham" asp-route-MaSP="@item.MaSp">Edit</a> |
                    <a asp-action="Chitiet" asp-route-MaSP="@item.MaSp">Details</a> |
                    <a asp-action="XoaSanPham" asp-route-MaSP="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@Html.PagedListPager(Model, page => Url.Action("danhmucsanpham", new {page=page}), 
new X.PagedList.Mvc.Core.PagedListRenderOptions(){
    LiElementClasses = new List<String>{"page-item"},
    PageClasses = new List<String> {"page-link"}
 })
