@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BTL_LTWeb.Models.THoaDonBan>
@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/ProfileLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">

    <form asp-controller="KhachHang" asp-action="" method="get" class="site-block-top-search d-flex">
        <input type="text" name="TenKhachHang" class="forcontrol border-1" placeholder="Search">
        <button type="submit" class="btn btn-primary">Tìm</button>
    </form>
    <p></p>
<div class="alert alert-warning">
        <table class="table table-hover table-responsive">
    <thead>
            <tr class="table-warning">
                <th>
                    Mã hoá đơn
                </th>
                <th>
                    Ngày tạo
                </th>
                <th>
                    Phương thức thanh toán
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    Tổng tiền
                </th>
                <th>
                    Chức năng
                </th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="alert alert-primary">
            <td>
                @Html.DisplayFor(modelItem => item.MaHoaDonBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayHoaDon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTienHd)
            </td>
            <td>
                <a asp-action="ChiTietKhachHang" asp-route-id="@item.MaKhachHang">Chi tiết</a> |
                <a asp-action="XoaKhachHang" asp-route-id="@item.MaKhachHang">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
    @Html.PagedListPager(Model, page => Url.Action("DonHang", new { page = page }),
            new X.PagedList.Mvc.Core.PagedListRenderOptions()
    {
        LiElementClasses = new List<String> { "page-item" },
        PageClasses = new List<String> { "page-link" }
    })
</div>